* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
  background-color: hsl(229, 57%, 11%);
  width: 100%;
  height: 100vh;
  font-size: 14px;
  color: hsl(243, 100%, 93%);
}

.main {
  display: grid;
  grid-template-rows: 50vh 50vh;
}

.bottom-main {
  background-image: url(images/bg-desktop.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-rows: 90% 10%;
}

.wrapper {
  display: flex;
  justify-content: space-around;
}

/*--------------Menu Box --------*/
.menu-box {
  min-width: 25%;
  height: 250px;
  background-color: hsl(228, 56%, 26%);
  border-radius: 12px;
  border-top-right-radius: 40% 60%;
  display: grid;
  grid-template-rows: 50% 50%;
  padding: 20px 40px 30px 40px;
  position: absolute;
  top: 40%;
  left: 19%;
}

.logo {
  align-self: center;
  min-width:40%;
}

.files {
  align-self: center;
  display: flex;
  justify-content: space-between;
  min-width: 60%;
}

.documents {
  min-width: 25%;
  display: inline-grid;
  height: 50px;
  background-color: black;
  border-radius: 8px;
  align-items: center;
  justify-items: center;
}

/* ---------------- Range Box ----------*/
.range-box {
  background-color: hsl(228, 56%, 26%);
  border-radius: 12px;
  min-width: 35%;
  height: 200px;
  padding: 25px 32px 40px 32px;
  position: absolute;
  top: 46%;
  right: 19%;
  display: grid;
  align-items: center;
}

.p-text {
  display: block;
}

/*Chrome*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
  input[type='range'] {
    overflow: hidden;
    -webkit-appearance: none;
    background-color: hsl(229, 57%, 11%);
    width: 100%;
    border-radius: 12px;
    height: 13px;
  }

  input[type='range']::-webkit-slider-runnable-track {
    height: 13px;
    -webkit-appearance: none;
    color: #13bba4;
    margin-top: -1px;
  }

  input[type='range']::-webkit-slider-thumb {
    width: 10px;
    -webkit-appearance: none;
    height: 10px;
    cursor: ew-resize;
    background: #434343;
    box-shadow: -80px 0 0 80px #43e5f7;
  }
}

/** FF*/
input[type="range"]::-moz-range-progress {
  background-image: linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
  height: 13px;
}

input[type="range"]::-moz-range-track {
  background-color: hsl(229, 57%, 11%);
}

/* IE*/
input[type="range"]::-ms-fill-lower {
  background-image: linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
}

input[type="range"]::-ms-fill-upper {
  background-color: hsl(229, 57%, 11%);
}

.float-box {
  position: absolute;
  width: 150px;
  background: #fff;
  border-radius: 12px;
  padding: 20px;
  text-align: center;
  color: hsl(229, 57%, 11%);
  right: 7%;
  top: -25%;
}

.float-box:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 20px solid transparent;
  border-right: 16px solid #fff;
  border-top: 16px solid #fff;
  border-bottom: 20px solid transparent;
  left: 114px;
  bottom: -24px;
}
.bold {
  font-weight: bolder;
  font-size: 18px;
}
.gb {
  display: flex;
  justify-content: space-between;
}
.bottom-spans {
  display: block;
}


/*----------------Footer ---------*/
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
